* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
  }

main {
    margin: 20px;
    padding: 16px;
  }

footer {
    font-size: large;
    background-color: #B4CF66;
    color: black;
    padding: 24px 48px 24px 48px;
  }

img {
   height: 200px;
  }

a {
    color: #44803F;
  }

nav {
    font-size: large;
    background-color: #FF533A;
    color: white;
    border: 0px 0px 1px 0px black;
    padding: 16px;
  }

 nav > a {
    color: white;
 }

#recipes {
    display: grid;
    grid-template-columns: repeat(4, auto);
    color:  #44803F;
    margin: 30px;
  }

img.fit-picture {
    margin-top: 20px;
}

h1 {
  margin: 10px;
  color: #146152;
}

table > tbody > tr:nth-child(even) {
  margin: 20px;
  background-color: lightgray;
}

div {
  color: black;
  margin: 10px;
}

h2 {
  margin-top: 20px;
}

a {
  margin: 60 px;
}

ol {
  margin: 10px;
}
